# phpstorm project files
.idea

# visual studio code project files
.vscode

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

# runtime and generated assets (server will create these)
/runtime
/web/assets

# environment config
.env

# SQL dumps (don't commit to repo)
*.sql
!database/yii2basic.sql
migrations/yii2basic.sql